html
    head
        title="Index del proyecto"
    body
        h1='Seleccione la query que desee probar'
        form(action="/"+type, method="post")
            input(type="text" name="mot" placeholder="Movie/TV Shows")
            input(type="submit", value="Query Type", formtarget="_blank")
        form(action="/"+title, method="post")
            input(type="text" name="title" placeholder="Title")
            input(type="submit", value="Query Title", formtarget="_blank")
        form(action="/"+director, method="post")
            input(type="text" name="director" placeholder="Director")
            input(type="submit", value="Query Director", formtarget="_blank")
        form(action="/"+cast, method="post")
            input(type="text" name="cast" placeholder="Cast")
            input(type="submit", value="Query Cast", formtarget="_blank")
        form(action="/"+country, method="post")
            input(type="text" name="country" placeholder="Country")
            input(type="submit", value="Query Country", formtarget="_blank")
        form(action="/"+release_year, method="post")
            input(type="text" name="year" placeholder="Year")
            input(type="submit", value="Query Release year", formtarget="_blank")
        form(action="/"+rating, method="post")
            input(type="text" name="rating" placeholder="Rating")
            input(type="submit", value="Query Rating", formtarget="_blank")
        form(action="/"+duration, method="post")
            input(type="text" name="duration" placeholder="Duration")
            input(type="submit", value="Query Duration", formtarget="_blank")
        form(action="/"+listed_in, method="post")
            input(type="text" name="listed_in" placeholder="Listed in")
            input(type="submit", value="Query Listed in", formtarget="_blank")
        form(action="/"+description, method="post")
            input(type="text" name="description" placeholder="Description")
            input(type="submit", value="Query Description", formtarget="_blank")
        a(href='/'+ratedCount, target="_blank", rel="noopener noreferrer") Query #{ratedCount}  <br />
        a(href='/'+shows, target="_blank", rel="noopener noreferrer") Query #{shows}  <br />
        a(href='/'+moreThanOne, target="_blank", rel="noopener noreferrer") Query #{moreThanOne}  <br />
        a(href='/'+releasedYear, target="_blank", rel="noopener noreferrer") Query #{releasedYear}  <br />
        form(action="/add-movie" method="post")
            input(type="text" name="mot" placeholder="Movie/TV Shows")
            input(type="text" name="title" placeholder="Title")
            input(type="text" name="director" placeholder="Director")
            input(type="text" name="cast" placeholder="Cast")
            input(type="text" name="country" placeholder="Country")
            input(type="text" name="year" placeholder="Year")
            input(type="text" name="rating" placeholder="Rating")
            input(type="text" name="duration" placeholder="Duration")
            input(type="text" name="listed_in" placeholder="Listed in")
            input(type="text" name="description" placeholder="Description")
            input(type="submit", value="Query addMovie", formtarget="_blank")
